@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@200&display=swap");
* {
  font-family: "Blinker", sans-serif;
  margin: 0;
  padding: 0;
  cursor: none;
}

ul {
  list-style: none;
}

button {
  border: none;
}

body {
  background-color: #211720;
}
